.form-main-text{
    padding-top: 1.5rem;
    color: #000;
}

.form-main-text h2{
    font-weight: 300;
}

.center-form {
    margin: 0 auto;
}

#currency-field {
    max-width: 8rem
}

input#currency-field:focus::placeholder {
    color: transparent;
  }

/* Make card top images square */
.card-img-top-home {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}