{% extends "auctions/layout.html" %}

{% block body %}
  <div class="main">
    <div class="container center-form">
      <div class="form-main-text text-center">
        <h2>List An Item For Auction</h2>
      </div>
      <div class="col-md-6 col-sm-12 center-form">
        {% if message %}
          <div>{{ message }}</div>
        {% endif %}
        <div class="login-form">
          <form action="" method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" value="Save" class="btn btn-outline-dark mb-3">Save</button>
          </form>
        </div>
      </div>
    </div>
  {% endblock %}
