{% extends "auctions/layout.html" %}
{% load humanize %}

{% block title %}
  Accio Auctions -
  {{ item.item_name }}
{% endblock %}
{% block body %}
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ item.listing_image }}" alt="{{item.item_name}}"/></div>
        <div class="col-md-6">
          <div class="small mb-1">Category:
            <a href="{% url 'listings_by_cat' cat=category %}">{{ category }}</a>
          </div>
          <h1 class="display-5 fw-bolder">{{ item.item_name }}</h1>
          <div class="fs-5 mb-2">Available Quantity:
            {{ item.quantity }}</div>
          <div class="fs-6 mb-2">Condition:
            {{ item.item_condition }}</div>

          <div class="fs-6 mb-5">Time Left:
            {{ expire_date|naturaltime }}
            |
            {{ expire_date }}
          </div>

          <p class="lead">{{ item.description }}</p>
          <div class="fs-5 ">Current Bid: ${{ item.starting_bid }}
            USD</div>
          <div class="mb-3 text-danger">
            {% if message %}
              <div>{{ message }}</div>
            {% endif %}
          </div>
          {% if item.status %}
            <form action="{% url 'bid_item' title=item.item_name %}" method="post">
              <div class="d-flex flex-row">
                {% csrf_token %}
                <input type="textbox" class="form-control text-center me-3" id="currency-field" placeholder="Bid Amount" name="bid-amt"/>
                <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                  <i class="bi-cart-fill me-1"></i>
                  Bid Now
                </button>
              </div>
            </form>
          {% else %}
            <p class="text-danger">Sorry, this auction is no longer active.</p>
          {% endif %}

          <div class="small mt-4">
            <a href="#">Add To Watchlist</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock%}
