{% extends "auctions/layout.html" %}

{% block body %}
  <!-- Section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="col-12">
        <h2>Active Listings for {{ category }}</h2>
      </div>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
        {% for cat in listings %}
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img class="card-img-top" src="{{ cat.listing_image }}" alt="{{ cat.item_name }}"/>
              <!-- Product details-->
              <div class="card-body p-4">

                <!-- Product name-->
                <h5 class="fw-b older text-center">{{ cat.item_name }}</h5>
                <!-- Product Condition-->
                <p class="card-subtitle mb-2 text-muted text-center">{{ cat.item_condition }}</p>
                <!-- Product Description-->
                <p class="card-text">{{ cat.description }}</p>
                <!-- Product Bid-->
                <p class="text-center">${{ cat.starting_bid }}</p>

              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
